.voting-form

  .container
    .col-lg-4.description
      h1 {{poll.poll_name + '?'}}
      p.lead by {{poll.user_name}}
      
    .col-lg-4
      form(name='form' ng-submit='submit()')
        ul.list-group
          li.list-group-item( ng-repeat="item in poll.poll_options") 
            input(ng-model='form.choice' name='choice' type='radio' value='{{item}}') 
            {{item}}
        button(type='submit' ng-disabled="!isLoggedIn()").btn.btn-lg.btn-success Vote!
        
    .col-lg-4.comments
      p(ng-repeat="comment in poll.comments" ng-show="commentsExist")
      p(ng-hide="commentsExist") Sorry, no comments yet.
