// Social buttons
// --------------------------------------------------

.btn-twitter
    color: #fff;
    background-color: #2daddc;
    border-color: #0271bf;

.btn-github
    color: #fff;
    background-color: #fafafa;
    border-color: #ccc;

form.form
  button
    width 165px
    margin-right 50px
    padding-top 5px
    padding-bottom 5px
    font-size 14px

  button, a.btn
    margin-top 20px
