.container#newPollForm(ng-controller='NewPollCtrl')
  span
    h2 New Poll
  
  form(name='poll' novalidate)
    .form-group
      label(for='name') Name your poll
      input(type='text' id='name' ng-model='pollName' placeholder='What is your favorite brand?' required).form-control
      
    .form-group
      label Options
      input(type='text' ng-model='pollOptions[$index]' placeholder='{{n}}' ng-repeat="n in placeholders track by $index" required).form-control
      
    .form-buttons
      button(type='button' ng-click="newOption()").btn.btn-default More Options
      button(type='submit' ng-click="submit()" ng-disabled='poll.$invalid').btn.btn-success Submit
